body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  padding: 0;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App{
background-image: url('https://scontent-dfw5-2.xx.fbcdn.net/v/t1.0-9/66481856_307321730016564_2476096741187780608_o.png?_nc_cat=104&_nc_ohc=OD5NllBqvQQAQkHrttBx9cnNaLbnut1KLdREowpfay_Lm5qaLAsao32Yg&_nc_ht=scontent-dfw5-2.xx&oh=91c72efd63df38caf7bade9f0532ef07&oe=5E896E0E');
display: flex;
justify-content: center;
height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.card-container{ 
  background-color: black;
  padding: 25px;
  border-radius: 15px;
} 

.card-top{
display: flex;
justify-content: center;
}

.card-bottom{

  }